<div class="container">
  <h2>Seleção de candidatos</h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="mr-sm-2" for="vagas">Vaga:</label>
        <select name="vagaSelecionada" [(ngModel)]="vagaSelecionada" class="custom-select mr-sm-2" id="vagas" placeholder="ewq">
          <option value="null" disabled="true" [selected]="!vagaSelecionada">Escolha</option>
          <option *ngFor="let vaga of vagas" [ngValue]="vaga">{{vaga.nome}}</option>
        </select>
      </div>
    </div>
    <label class="mr-sm-2" for="tecnologias">Pesos:</label>
    <div class="form-row">

      <div *ngFor="let tec of tecnologiasPeso" class="form-group col-md-4">
        <label for="tecnologia">{{tec.nome}}:</label>
        <input class="form-control" id="tecnologia" name="nome" [(ngModel)]="tec.peso" placeholder="0">
      </div>

    </div>
    <button type="button" class="btn btn-success" (click)="listarCandidatos()">Listar Candidatos</button>
  </form>

  <div *ngIf="candidatos && candidatos.length > 0" style="padding-top: 20px">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome do candidato</th>
          <th scope="col">Pontuação</th>
        </tr>
      </thead>
      <tbody *ngFor="let can of candidatos">
        <tr>
          <th>{{can.idCandidato}}</th>
          <td>{{can.nome}}</td>
          <td>{{can.somaPeso}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
