<div class="container">
  <h2>Vagas</h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="vaga">Nome: </label>
        <input class="form-control" id="vaga" name="nome" [(ngModel)]="nome" placeholder="Desenvolvedor Web">
      </div>
    </div>
    <button *ngIf="vagaEdicao == null" type="button" class="btn btn-success" (click)="adicionar()">Adicionar</button>
    <button *ngIf="vagaEdicao != null" type="button" class="btn btn-primary" (click)="atualizar()">Atualizar</button>
  </form>

  <div *ngIf="vagas && vagas.length > 0" style="padding-top: 20px">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome da vaga</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let vag of vagas">
        <tr>
          <th>{{vag.id}}</th>
          <td>{{vag.nome}}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editar(vag)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="remover(vag.id)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
